<div class="row">
  <div class="col-md-11">
    <h1>Welcome to the HomePage</h1>
  </div>
  <div class="col-md-1">
    <% if user_signed_in? %>
    <%=  link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
    <%=  link_to "Log In", new_user_session_path %>
    <% end %>
  </div>
</div>
